extends layout

block content
  if recipe
    form(action=`/recipes/edit/${recipe.id}`,method="post")
      .form-group
        label(for='name') Recipe name
        input#name.form-control(name="name" type='text' placeholder='Enter name' value=recipe.name)
      .form-group
        label(for='description') Description
        input#description.form-control(name="description" type='text' placeholder='Enter description' value=recipe.description)
      .form-group
        label(for='ingredients') Ingredients
        textarea#ingredients.form-control(name="ingredients" type='text' placeholder='Enter ingredients' value=recipe.ingredients)=recipe.ingredients
      .form-group
        label(for='prep') Preparation time
        input#prep.form-control(name="prep" type='number' placeholder='Enter preparation time' value=recipe.prep)
      .form-group
        label(for='cook') Cooking time
        input#cook.form-control(name="cook" type='number' placeholder='Enter cooking time' value=recipe.cook)
      .form-group
        label(for='steps') Steps
        textarea#steps.form-control(name="steps" type='text' placeholder='Enter cooking steps' value=recipe.steps)=recipe.steps
      button.btn.btn-primary(type='submit') Update

  if !recipe
    form(action="/recipes",method="post")
      .form-group
        label(for='name') Recipe name
        input#name.form-control(name="name" type='text' placeholder='Enter name')
      .form-group
        label(for='description') Description
        input#description.form-control(name="description" type='text' placeholder='Enter description')
      .form-group
        label(for='ingredients') Ingredients
        textarea#ingredients.form-control(name="ingredients" type='text' placeholder='Enter ingredients')
      .form-group
        label(for='prep') Preparation time
        input#prep.form-control(name="prep" type='number' placeholder='Enter preparation time')
      .form-group
        label(for='cook') Cooking time
        input#cook.form-control(name="cook" type='number' placeholder='Enter cooking time')
      .form-group
        label(for='steps') Steps
        textarea#steps.form-control(name="steps" type='text' placeholder='Enter cooking steps')
      button.btn.btn-primary(type='submit') Add recipe
